<!DOCTYPE html>
<html lang="en">
<head>
    <title>广信眼镜明珠城店务日结算单</title>
    <script>
        // 当文档加载完成后执行
        document.addEventListener('DOMContentLoaded', function() {
            //获取当前系统日期
            var currentDate = new Date();
            // 获取当前月份（0表示一月，11表示十二月）
            var currentMonth = currentDate.getMonth() + 1;
            var curDayFormat = currentDate.toLocaleDateString();
            // 获取当前日期（1到31之间的整数）
            var currentDay = currentDate.getDate();
            // alert(curDayFormat);
            console.log(curDayFormat);
            const month = String(currentMonth).padStart(2, '0'); // 获取两位数的月份
            const day = String(currentDay).padStart(2, '0'); // 获取两位数的日期
            //设置表单表格内容为当前月份
            //根据系统要求重新调整显示日期
            Yes_date = "{{ date }}";
            // alert(Yes_date)
            var query_month = Yes_date.substr(5,2);
            document.getElementById("month_target").textContent = query_month + "月份目标";


            // document.getElementById("id").textContent = currentDay.toDateString();
            //设置表单表格内容为当前日
            var query_day = Yes_date.substr(8,2)
            // alert(query_day)
            document.getElementById("Curday").textContent = query_day + "号业绩";

            // 设置表单标题为当前日期
            document.getElementById('formTitle').textContent = '广信眼镜马坝明珠城店日结算单';
            // 获取4位数的年份
            var currentYear = currentDate.getFullYear();
            // 第一次见这样的写法：特殊标点符号（·）
            var formattedDate = `${ currentYear }-${ month }-${ day }`
            console.log("formattedDate:" + formattedDate);
            var inputElement = document.getElementById('day');
            var inRemainDays = getRemainingDaysInMonth(inputElement.value);
            // // 设置默认值
            // inputElement.value = formattedDate;
            //设置剩余天数
            document.getElementById("remainDays").textContent = 
            "每日需完成" + "(剩余天数" + inRemainDays + ")";
        // })
            // script.js 文件
            // document.getElementById('pace').addEventListener('change', function() {
            //     convertToPercentage();
            // );
            // 如果查询的不是当天的数据，而且数据表中已经存在当日的结算数据，则不允许修改提交当日的数据，以防二次更改
            var in_postbutton = document.getElementById("post");
            var input_date = document.getElementById("day");
            var inputField = document.getElementById("dayAchievement");
            var input_douyin = document.getElementById("douyin");
            var input_douyincount = document.getElementById("douyin_count");
            var input_meituan = document.getElementById("meituan");
            var input_meituancount = document.getElementById("meituan_count");
            var input_cash = document.getElementById("cash");
            var input_cashin = document.getElementById("cash_in");
            var input_expend = document.getElementById("expend");
            var input_isreturn = document.getElementById("IscashReturn");
            var input_dayreferrals = document.getElementById("dayReferrals");
            var input_memo = document.getElementById("memo");
            console.log("input_date:"+input_date.value);
            console.log("inputField:"+ inputField.value);

            if ((input_date.value !== formattedDate)&&(inputField.value!=="0")) {
                inputField.disabled = true;
                in_postbutton.disabled = true;
                input_date.disabled = true;
                input_douyin.disabled = true;
                input_douyincount.disabled = true;
                input_meituan.disabled = true;
                input_meituancount.disabled = true;
                input_cash.disabled = true;
                input_cashin.disabled = true;
                input_expend.disabled = true;
                // input_isreturn.disabled = true;
                input_dayreferrals.disabled = true;
                input_memo.disabled = true;

            }
            else{
                inputField.disabled = false;
                in_postbutton.disabled = false;
                input_date.disabled = false;
                input_douyin.disabled = false;
                input_douyincount.disabled = false;
                input_meituan.disabled = false;
                input_meituancount.disabled = false;
                input_cash.disabled = false;
                input_cashin.disabled = false;
                input_expend.disabled = false;
                input_isreturn.disabled = false;
                input_dayreferrals.disabled = false;
                input_memo.disabled = false;
            }

            var checkbox = document.getElementById('IscashReturn');
            var input = document.getElementById('cashReturn');

            // 初始状态检查
            input.disabled = !checkbox.checked;

            // 监听复选框的change事件
            checkbox.addEventListener('change', function() {
                input.disabled = !this.checked;
            });

            });
    </script>
    <!-- 引用外部JavaScript文件 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <meta charset="UTF-8">
    <title>可输入信息的表格</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
        form {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<!-- Flash消息容器 -->
<div id="flash-message">
    {{ get_flashed_messages() | join(" ") }}
</div>
<body>
    <style>
    /* 初始时Flash消息不可见 */
    #flash-message {
        display: none;
        color: #fff;
        background-color: #f44336; /* 红色背景 */
        padding: 10px;
        text-align: center;
    }
    </style>    
    <style>
    .invisible-input {
        visibility: hidden;
    }
    .disEnabled-input{
        background-color: #f0f0f0;
    }
    </style>
    <h2 id="formTitle" align="center">表单 - 请稍后...</h2>
    <h3 id="Yes_data">
        月目标：{{ pre_goal }}
        <br>{{ pre_date }}号业绩：{{ pre_achievement }}
        <br>总共完成:{{ pre_sumAchievement }}
        <br>总进度:{{ pre_pace }}
        <br>备用金:{{ pre_cash }}
        <br>现金支出:{{ pre_expend }}
        <!-- <br>本月转介绍累计：{{ pre_sumreferrals }} -->
        <br>备注:{{ pre_memo }}
    </h3>
    <form id="getForm" method="get" action="/query_data">
        <label for="date">日期:</label>
        <input type="date" id="query_date" name="query_date" value="{{ date }}">
        <button type="submit" style="width: 100px;padding: 5px; border: 3px; magrin:1px">查询</button>        
    </form>

    <!-- alert({{ date }}); -->
    <!-- <input type="date" id="day" name="day" value="{{ date }}"> -->
    <!-- class="invisible-input"> -->

    <form  id="mainForm" method="post" action="/process">
    <table>
        <tr>
            <th id="month_target">月目标</th>
            <th id="Curday">0号业绩</th>
            <th>共完成</th>
            <th>进度</th>
            <th>差</th>
            <th id="remainDays">每日需完成</th>

        </tr>
        <tr>
            <td><input type="number" name="monthtarget" id="monthtarget" required value="{{ goal }}" ></td>
            <td><input type="number" name="dayAchievement" id="dayAchievement" required value="{{ Yes_Achievement }}" onblur="handleBlur()"></td>
    <td><input type="number" name="sumAchievement" id="sumAchievement" value="{{ Sum_Achievement }}" 
                required readonly class="disEnabled-input"></td>
            <td><input type="text" name="pace" id="pace" value="{{ pace }}" required readonly class="disEnabled-input"></td>
            <td><input type="number" name="balance" id="balance" value="{{ balance }}" required readonly class="disEnabled-input"></td>
            <td><input type="number" name="dayNeed" id="dayNeed" value="{{ dayNeed }}" required readonly class="disEnabled-input"></td>
        </tr>
        <!-- 可以根据需要添加更多的行 -->
        <!-- 2024/5/22优化显示：1、根据要显示的功能分组显示 2、新增字段抖音笔数，美团笔数，现金收入 3、一些字段如月目标，备用
            金，转介绍累计可自动显示-->
        <tr>
            <th>抖音金额</th>
            <th>抖音笔数</th>
            <th>美团金额</th>
            <th>美团笔数</th>
        </tr>
        <tr>
            <td><input type="number" id="douin" name="douyin" required value="{{douyin}}"></td>
            <td><input type="number" id="douyin_count" name="douyin_count" required value="{{douyin_count}}"></td>
            <td><input type="number" id="meituan" name="meituan" required value="{{meituan}}"></td>
            <td><input type="number" id="meituan_count" name="meituan_count" required value="{{meituan_count}}"></td>
        </tr>
        <!-- <input type="text" id="day" name="day" class="invisible-input"> -->
        <input type="date" id="day" name="day" class="invisible-input" value="{{ date }}">
        <tr>
            <th>备用金</th>
            <th>本日现金收入</th>
            <th>本日现金支出</th>
            <th>本日找回现金</th>
            <!-- <th>本日应上缴现金数</th>       -->
        </tr>
        <tr>
            <td><input type="number" id="cash" name="cash" required value="{{ cash }}"></td>
            <td><input type="number" id="cash_in" name="cash_in" ></td>
            <td><input type="number" id="expend" name="expend" required value="{{expend}}">
                <!-- <button id="upload" class="invisible-input">上传凭证</button> -->
            </td>
            <!-- <td><input type="checkbox" id="IscashReturn" name="IscashReturn"    > -->
            <td><input type="number" id="cashReturn" name="cashReturn" required value="{{ cash_return }}" onblur="handleBlur()" ></td>
<!--             <td><input type="number" name="payment" required readonly class="disEnabled-input" value="{{payment}}"></td> -->
        </tr>
        <tr>
            <th>本日转介绍</th>
            <th>本月转介绍累计</th>  
            <th>备注</th>
        </tr>
        <tr>
            <td><input type="number" name="dayReferrals" id="dayReferrals" value="{{ dayreferrals }}" required onblur="handleBlur()"></td>
            <td><input type="number" name="sumReferrals" id="sumReferrals" required value="{{ sum_referrals }}" readonly class="disEnabled-input"></td>
            <td><input type="text" id="memo" name="memo" maxlength="1000" value="{{ memo }}"></td>
        </tr>
    </table>
    <button type="submit" id="post" style="width: 160px; padding: 10px; border: 1px solid #ccc;">提交数据</button>
</form>
</body>
<script type="text/javascript">
    var inputField = document.getElementById('dayAchievement');
    inputField.addEventListener("blur", function(){
                    // 这里是当input失焦时要执行的代码
    console.log('Input has lost focus!');

    // 例如，你可以在这里进行输入验证
    if((inputField.value === '') || ( inputField.value ==="0")){
        alert('当日业绩不能为空或0');
        // return;
    }
    else
    {
        // #经测试parseFloat()不行，得不到预期的效果
        var in_sumachievement = Number({{Sum_Achievement}});
        // console.log("in_sumachievement:" + in_sumachievement);
        // 计算总完成额  
        if ((in_sumachievement.value === 0) || (in_sumachievement.value ==="")){
            in_sumachievement.value = 0;
            var input_date = document.getElementById("day").value;
            var in_day = input_date.substr(8,2);
            alert(in_day);
            if (in_day!=="01"){
                input_date.readonly = false;
            }
            else
            {
                input_date.readonly = true;
            }

        }
        var inputSumAchievement = Number(inputField.value) + in_sumachievement;
        console.log("inputSumAchievement:" + in_sumachievement);
        document.getElementById("sumAchievement").value = inputSumAchievement; 
        //计算完成进度
        // 首先要确保goal已经填入数据，否则提示输入月目标

        var in_goal = Number({{ goal }});
        if ((in_goal === "")||(in_goal===0)){
            var input = document.getElementById("monthtarget").value;
            if (!input) {
                console("月目标输入为空");
                alert("月目标不能为空，请输入！");
            }
            else{
                in_goal = input;
            }
        }
        var in_precent = inputSumAchievement / in_goal;
        // var in_precent = Math.round(inputSumAchievement / in_goal);
        var in_display = (in_precent*100).toFixed(1) + '%';
        // alert(in_display)
        document.getElementById("pace").value = in_display ;
        //计算差额
        var in_balance = in_goal - inputSumAchievement
        document.getElementById("balance").value = in_balance;
        //计算每日需完成
        // var remainDays = getRemainingDaysInMonth(Yes_date);

        // alert('本月剩余：' + remainDays +'天')
        var inputElement = document.getElementById('day');
        var inRemainDays = getRemainingDaysInMonth(inputElement.value);
        var in_dayNeed = Math.round(in_balance / inRemainDays);
        document.getElementById("dayNeed").value = in_dayNeed;

    }

    });
    // 计算累计转介绍
    var input_dayreferrals = document.getElementById("dayReferrals");
    input_dayreferrals.addEventListener("blur", function(){
    if (input_dayreferrals.value === ''){
        alert("今日转介绍不能为空");
    }
    else
    {
        var in_sumReferrals = Number({{ sum_referrals }});
        var input_sumReferrals = in_sumReferrals + Number(input_dayreferrals.value);
        document.getElementById("sumReferrals").value = input_sumReferrals;
        console.log("sumReferrals:"+input_sumReferrals);
    }
    });
    // 计算今日应上缴现金数
    // var input_cashReturn = document.getElementById("cashReturn");
    // input_cashReturn.addEventListener("blur", function()){
    //     var input_cashin = document.getElementById("cash_in").value;
    //     var input_expend = document.getElementById("expend").value;
    //     if input_cashReturn.value = ""{
    //         input_cashReturn.value = '0';
    //     }
    //     if input_cashin === ""{
    //         input_cashin = '0';
    //     }
    //     if input_expend === ""{
    //         input_expend = '0';
    //     }
    //     // var input_cash = document.getElementById("cash").value;
    //     var input_payment = document.getElementById("payment");
    //     input_payment.value = Number(input_cashin) - 
    // }

</script>
<!-- 引用外部JavaScript文件 -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script>
    document.getElementById('mainForm').addEventListener("submit", 
    function(event){
        var in_goal = document.getElementById("monthtarget").value;
        var in_dayachieve = document.getElementById("dayAchievement").value;
        if (in_goal==="" || Number===0) {
            alert("月目标不能为空，请输入！");
            event.preventDefault();//阻止表单提交
        }
        if (in_dayachieve==="" || Number(in_dayachieve===0)) {
            alert("当日业绩不能为空或0，请输入！");
            event.preventDefault();
        }
    });
</script>
<script>
    // 检查Flash消息容器是否有内容
    var flashMessage = document.getElementById('flash-message');
    if (flashMessage.innerHTML.trim() !== ''){
                // 如果有内容，显示消息
        flashMessage.style.display = 'inline-block';
        
        
        // 3秒后隐藏消息
        setTimeout(function() {
            flashMessage.style.display = 'none';
        }, 3000); // 3000毫秒（3秒）
    } 
</script>

</html>